/* Search box styling */
#search-tabs-text-box {
	padding: 5px;
	min-width:120px;
}

.save-to-evernote {
	cursor:pointer;
}

#searchSidebar {
	min-width:250px;
}

.tab-result-container {
}

.tab-result-container:hover {
	color: blue !important;
}

.resultTabTitle {
	display:block;
	color: gray;
	padding: 4px;
}

.resultTabLocation {
	display :block;
	color: red;	
	padding: 4px;	
}

.options-container {
	display: block;
	width:100%;
	text-align: right;
	border-bottom: 1px solid #dcdcdc;
}