/* Search box styling */
#search-tabs-text-box {
	padding: 5px;
	min-width:120px;
}

.save-to-evernote {
	cursor:pointer;
}

#searchSidebar {
	min-width:250px;
}

.resultTabTitle {
	display:block;
	color: gray;
	padding:5px;
}

.resultTabLocation {
	display :block;
	color: red;
	padding:5px;
}