@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v2/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

#log-panel {
  border: 3px solid gray;
  background-color: gray;
  border-radius: 8px;
  opacity: 0.95;
}

#log-textbox {
  font-family: Source Sans Pro,georgia,arial,sans-serif;
  width: 350px;
  font-size: 32px;
  padding: 8px;
  border-radius: 15px;
}

#search-button {
  border: none;
}

#log-text{
  padding: 3px;
  color:white;
  border: 8px solid black;
  font-family: georgia,arial,sans-serif;
  font-size: 10px;
}

#found-title {
  height: 50px;
  background-color: #F0F0F0;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 3px;
  opacity: 0.95;
}

#found-title:hover {
  background-color: #dcdcdc;
}

/* TODO : This is hacky css to ensure that favicon looks good. Fix it */
.entry-favicon {
  padding-top:17px;
  padding-bottom:17px;
  padding-left:10px;
  min-width:26px;
}

.entry-titlearea {
  padding-left:20px;
  padding-top:2px;
  color:#202020;
}

.entry-searchcount {
  font-size : 250%;
  color: #7f7f7f;
}

.entry-url {
  color: #909090;
}
